/* main nav and container style  */
.main-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav {
    width: 100%;
    height: 100px;
    background-color: rgb(223, 209, 209);
}

/* page 1 */
.page-1 {
    height: 800px;
}

.pg1-nav {
    width: 40%;
    height: 100px;
    margin: 40px auto;
    background-color: rgb(223, 209, 209);
}

.pg-1-con-1 {
    float: left;;
    margin: 20px 20px;
    height: 100%;
    width: 45%;
    background-color: rgb(223, 209, 209);;
}

.pg-1-con-2 {
    float: right;
    margin: 20px 20px;
    height: 100%;
    width: 45%;
    background-color: rgb(223, 209, 209);;
}


/* page 2 */
.page-2 {
    /* background-color: red; */
    height: 800px;
    margin-top: 20%;
    margin-bottom: 2%;
    /* padding: 10px; */
}

.pg2-nav {
    width: 40%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: rgb(223, 209, 209);
}

.con{
    height:260px;
    width: 260px;
    margin-left: 2%;
    margin-top: 2%;
    background-color: rgb(223, 209, 209);;
    display: inline-block;
}


/* page-3  */
.page-3 {
    /* background-color: aqua; */
    height: 1000px;
}

.pg3-nav {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(223, 209, 209);
}

.pg3-sub-main-con {
    margin: 5% auto;
    height: 800px;
    width: 100%;
    background-color: rgb(223, 209, 209);;
}

.sub-con {
    width: 25%;
    height: 700px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 2%;
    background-color: white;
    display: inline-block;
}

.sub-nav {
    width: 80%;
    height: 55px;
    margin: 5% auto;
    background-color: rgb(223, 209, 209);
}

.sub-con-1 {
    width: 80%;
    height: 290px;
    margin: 5% auto;
    background-color: rgb(223, 209, 209);
}

.sub-con-2 {
    width: 80%;
    height: 290px;
    margin: 5% auto;
    background-color: rgb(223, 209, 209);
}

/* page-4 */
.page-4 {
    height: 900px;
}

.clear {
    clear: both;
}

.pg-4-nav {
    width: 30%;
    height: 60px;
    margin: 5% auto;
    background-color: rgb(223, 209, 209);   
}   

.pg-4-sub-con {
    width: 50%;
    height: 80px;
    margin: 2% auto;
    background-color: rgb(223, 209, 209);   
}   

.con-large {
    height: 300px;
}

.con-left {
    float: left;
    width: 24%;
    margin-left: 25%;
}

.con-right {
    float: right;
    width: 24%;
    margin-right: 25%;
}


/* page-5 */
.page-5 {
    height: 400px;
    background-color: rgb(223, 209, 209);   ;
}

.pg-5-con {
    display: inline-block;
    height: 80%;
    width: 45%;
    background-color: white;
    float: left;
    margin: 50px 2.5%;
}
.con-5-2 {
    float: right;
}