.main-container {
    width: 1200px;
}

.main-nav {
    width: 100%;
    height: 100px;
    background-color: rgb(223, 209, 209);
}

.page-1 {
    height: 800px;
}

.pg1-nav {
    width: 40%;
    height: 100px;
    margin: 40px auto;
    background-color: rgb(223, 209, 209);
}

.pg-1-con-1 {
    float: left;;
    margin: 20px 20px;
    height: 100%;
    width: 45%;
    background-color: rgb(223, 209, 209);;
}

.pg-1-con-2 {
    float: right;
    margin: 20px 20px;
    height: 100%;
    width: 45%;
    background-color: rgb(223, 209, 209);;
}

.page-2 {
    height: 800px;
    margin-top: 20%;
}

.pg2-nav {
    width: 60%;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(223, 209, 209);
}

.con{
    height: 25%;
    width: 20%;
    margin-left: 45px;
    margin-top: 5%;
    background-color: rgb(223, 209, 209);;
    display: inline-block;
}

.page-3 {
    height: 1000px;
}

.pg3-nav {
    width: 80%;
    height: 100px;
    margin: 5% auto;
    background-color: rgb(223, 209, 209);
}

.pg3-sub-main-con {
    height: 800px;
    width: 100%;
    background-color: rgb(223, 209, 209);;
}

.sub-con {
    
    width: 25%;
    height: 80%;
    background-color: white;
    display: inline-block;
}